.footer {
  height: 30vh;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.social-links a {
  margin-right: 20px;
}

.social-links img {
  max-width: 50px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.social-links img:hover {
  filter: grayscale(0%);
}

.rocket-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.rocket-wrapper {
  position: relative;
}

.rocket {
  max-width: 50px;
  filter: grayscale(100%);
  transition: filter 0.5s;
  animation: bouncingRocket 1s ease infinite;
}

.rocket:hover {
  filter: grayscale(0%);
}

.rocket-text {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
}

.rocket-wrapper:hover .rocket-text {
  opacity: 1;
}

@keyframes bouncingRocket {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}


.footer .copyright-info {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: small;
}

@media (max-width: 768px) {
  .social-links {
    display: flex;
    flex-direction: row; /* Change to column to stack the links vertically */
    align-items: center;
  }

  .social-links a {
    margin: 10px  /* Adjust the margins for better spacing */
  }

  .footer .copyright-info {
    margin-top: 2px; /* Adjust the margin to move the copyrights up */
    margin-bottom: 20px; /* Adjust the margin to give some space after copyrights */
  }

  .rocket-section {
    margin-top: 10px; /* Adjust the margin to move the rocket section up */
  }
}

