.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 50px;
}

.contact-info {
  flex: 1;
  margin-right: 50px;
  font-size: 18px;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
}

.contact-info ul li i {
  margin-right: 10px;
}

.contact-form {
  flex: 1;
  font-size: 18px;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

.contact-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.arrow {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow img {
  max-width: 100%;
  animation: bounceArrow 1s ease infinite;
}

@keyframes bounceArrow {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  .contact-info {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contact-form {
    margin-bottom: 30px;
  }

  .contact-form label,
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }
}
