section#home {
  height: 100vh;
  background-image: url('https://i.natgeofe.com/n/c9107b46-78b1-4394-988d-53927646c72b/1095_3x2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

section#home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%); /* Use a gradient for a fading effect */
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 5px; /* Reduce the distance between "Waseem" and "Software Developer" */
}

.overlay p {
  font-size: 1.8rem;
}

.button-container {
  margin-top: 30px; /* Add some space between the text and buttons */
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-container button:hover {
  background-color: white;
  color: black;
}

.button-container button:focus {
  outline: none;
}

.arrow-container {
  position: absolute;
  bottom: 80px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
}

.arrow-icon {
  cursor: pointer;
  font-size: 2rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the bounce height as needed */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
